@font-face {
    font-family: 'AvenirNextCyr';
    src: url('subset-AvenirNextCyr-Light.woff2.html') format('woff2'),
        url('subset-AvenirNextCyr-Light.txt') format('woff'),
        url('subset-AvenirNextCyr-Light-1.txt') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('subset-AvenirNextCyr-Regular.woff2.html') format('woff2'),
        url('subset-AvenirNextCyr-Regular.txt') format('woff'),
        url('subset-AvenirNextCyr-Regular-1.txt') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('subset-AvenirNextCyr-Medium.woff2.html') format('woff2'),
        url('subset-AvenirNextCyr-Medium.txt') format('woff'),
        url('subset-AvenirNextCyr-Medium-1.txt') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('subset-AvenirNextCyr-Bold.woff2.html') format('woff2'),
        url('subset-AvenirNextCyr-Bold.txt') format('woff'),
        url('subset-AvenirNextCyr-Bold-1.txt') format('truetype');
    font-weight: 700;
    font-style: normal;
}





